/* General Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    font-family: 'Akzidenz-Grotesk Next'  sans-serif;
}

img{
    width: 100%;
}


/* Pop-UP display */
.popup-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 570px;
    padding: 10px;
    max-width: 100%;
    text-align: center;
    background-color: white;
    animation-name: faded;
    animation-duration: 2.5s;
    box-shadow: 0px 0px 2px black;
}


.join-content{
    padding: 110px 30px 35px;
    max-width: 100%;
}

.join-team p{
    color: #a1a1a1;
    font-size: 15px;
    text-transform: uppercase;
    font-family: akzidenz-grotesk-extended,sans-serif;
    font-weight: 600;
    color: #9a825c;
    letter-spacing: 1.5px;
}

.join-off{
    padding: 15px 0;
}

.join-off p{
    font-weight: 300;
    /* font-variant-numeric: oldstyle-nums; */
    font-family: SainteColombe,serif;
    font-size: 72px;
    color: #0a1e32;
    line-height: 1.333em;
    letter-spacing: -.0.042em;
}

.gain{
    font-size: 17px;
    font-family: SainteColombe,serif;
    font-weight: 300;
    color: #0a1e32;
    line-height: 1.500em;
}


.form-input{
    display: inline-block;
    width: 330px;
    max-width: 100%;
}

.form-email{
    margin-top: 20px;
    padding: 5px;
}

.form-email input{
    min-height: 2em;
    font-size: 11px;
    text-align: center;
    background-color: transparent;
    border-style: solid;
    border-color: #9a825c;
    border-width: 1px;
    padding: 18px 10px 18px 25px;
    font-family: akzidenz-grotesk-extended,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0a1e32;
    width: 100%;
}

.form-signup{
    padding: 5px;
}

.form-signup button{
    font-family: akzidenz-grotesk-extended,sans-serif;
    font-weight: 400;
    padding: 20px 15px;
    font-size: 11px;
    background-color: rgb(154, 130, 92);
    border-style: solid;
    border-color: rgb(154, 130, 92);
    border-width: 1px;
    color: #ffffff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: opacity .25s ease;
    width: 100%;
    cursor: pointer;
}

.form-signup button:hover{
    background-color: rgb(161, 148, 126);
    transition: .4s;
}

.form-input .thanks{
    padding: 40px 20px 20px;
    display: inline-block;
    width: 100%;
}

.form-input .thanks button{
    font-family: akzidenz-grotesk-extended,sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: grey;
    text-decoration: underline;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.popup-wrapper{
    /* display: none; */
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
    
}

#pop-close{
    display: none;
}


#popup-close {
    display: flex;
    justify-content: flex-end;
}

#popup-close span {
    font-size: 16px;
    cursor: pointer;
}

#popup-close span:hover {
    color: #9a825c;
}

#pop-close:checked~ .popup-wrapper {
    display: none;
}

@keyframes faded {
    from {opacity: 0; }
    to {opacity: 1;}
}
/* Navigation Menu Design */
header{
    width: 100%;
}

.desktop-wrapper{
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 20px 0;
}


nav a{
    color: black;
}

.nav1{
    display: flex;
    align-items: center;
    color: black;
    padding: 12px 0px;
}

.nav1 li{
    display: flex;
    align-items: center;
    padding: 16px;
}

.button{
    background-color: transparent;
    background-image: none;
    border: none;
    outline: none;
    font-weight: 800;
    display: inline-block;
    cursor: pointer;
    font-family: 'Akzidenz-Grotesk Next'  sans-serif;
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: 1.6px;
    text-decoration: none;
    color: inherit;
}

.nav1 .button:hover .BaseIcon{
    color: #9a825c;
}

.nav1 button:hover{
    color: #9a825c;
}

button label{
    cursor: pointer;
}

.initial{
    font-weight: 800;
    font-family: 'Akzidenz-Grotesk Next'  sans-serif;
    font-size: 10px;
    letter-spacing: 1.6px;
    transition-duration: .3s;
    color: inherit;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}

.nav1 .initial a{
    font-family: inherit;
}
.nav1 .initial:hover{
    color: #9a825c;
}


.icon{
    color: black;
}
nav:hover > .logo a{
    color: black;
}

.BaseIcon{
    fill: currentColor;
}


/* Logo Design*/
.logo a{
    font-family: 'Alkatra', cursive;
    font-size: 20px;
    font-weight: 800;
    color: black;
}

.logo span{
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 3px;
}

/* Navigation Dropdown Section */
.nav-dropdown{
    position: relative;
    width: 100%;
    background-color: white;
    
}

.nav-dropdown-grid{
    max-width: 1800px;
    width: 100%;
    position: absolute;
    background-color: white;
}

.nav-dropdown-grid-container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4,1fr);
    padding-top: 16px;
    padding-bottom: 40px;
    min-height: 410px;
}

.nav-list {
    padding-top: 16px;
    border-right: 1px solid rgba(108,120,132,.4);
}

.nav-list:last-of-type{
    border-right: none;
}

.nav-list h1{
    margin-bottom: 24px;
    color: rgba(108,120,132,.6);
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: .1em;
    font-weight: 800;
}

.nav-list-items{
    max-width: 220px;
}

.nav-list-items li{
    padding-bottom: 1.5rem;
    transition: 4s;
}

.nav-list-items li:last-of-type{
    padding-bottom: 0rem;
}

.nav-list-items a{
    display: block;
    cursor: pointer;
    border-width: 0;
    font-family: SainteColombe,serif;
    font-size: 1.0625rem;
    color: rgba(10,30,50, .8);
    transition: .3s;
}

.nav-list-items a:hover{
    color: #9a825c;
}

.nav-footer{
    margin-top: 1.75em;
}
.nav-list-footer{
    display: inline-block;
    color: rgb(154, 130, 92);
}

.nav-icons{
    display: flex;
}

/* Display Nav Design */
#men{
    display: none;
    animation-name: drop;
    animation-duration: 2.8s;
}

#nav-men:checked~.desktop-wrapper{
    background-color: white;
}

#nav-men:checked~.desktop-wrapper .nav1 li,#nav-men:checked~.desktop-wrapper .logo a, #nav-men:checked~.desktop-wrapper .icon{
    color: black;
}
#nav-men:checked~.desktop-wrapper #navmen, #nav-men:checked~.desktop-wrapper #navmen .BaseIcon{
    color: #9a825c;
}

#nav-men:checked~.desktop-wrapper #navmen .BaseIcon{
    transform: rotate(-180deg);
    transition: .35s ease-out;
    margin-bottom: 2px;
  }

#nav-men {
    display: none;
}

#nav-men:checked ~ .nav-dropdown #men{
    display: block;
}

/* Display Nav Women */
#women{
    display: none;
    animation-name: drop;
    animation-duration: 2.8s;
}

#nav-women:checked~.desktop-wrapper{
    background-color: white;
}

#nav-women:checked~.desktop-wrapper #navwomen .BaseIcon{
    transform: rotate(-180deg);
    transition: .35s ease-out;
    margin-bottom: 2px;
  }

#nav-women:checked~.desktop-wrapper .nav1 li,#nav-women:checked~.desktop-wrapper .logo a, #nav-women:checked~.desktop-wrapper .icon{
    color: black;
}
#nav-women:checked~.desktop-wrapper #navwomen, #nav-women:checked~.desktop-wrapper #navwomen .BaseIcon{
    color: #9a825c;
}


#nav-women {
    display: none;
}

#nav-women:checked ~ .nav-dropdown #women{
    display: block;
}


/* Display Nav Location */
#location{
    display: none;
    animation-name: drop;
    animation-duration: 2.8s;
}

#location dt{
    margin-bottom: 1rem;
    font-size: 20px;
}

#location dd{
    max-width: 230px;
}

#nav-location:checked~.desktop-wrapper{
    background-color: white;
}

#nav-location:checked~.desktop-wrapper .nav1 li,#nav-location:checked~.desktop-wrapper .logo a, #nav-location:checked~.desktop-wrapper .icon{
    color: black;
}
#nav-location:checked~.desktop-wrapper #navlocation, #nav-location:checked~.desktop-wrapper #navlocation .BaseIcon{
    color: #9a825c;
}

#nav-location:checked~.desktop-wrapper #navlocation .BaseIcon{
    transform: rotate(-180deg);
    transition: .35s ease-out;
    margin-bottom: 2px;
  }

#nav-location {
    display: none;
}

#nav-location:checked ~ .nav-dropdown #location{
    display: block;
}

/* Close */
#close {
    display: flex;
    justify-content: flex-end;
}

#close span {
    font-size: 16px;
    cursor: pointer;
}

#close span:hover {
    color: #9a825c;
}

#nav-close {
    display: none;
}

#nav-close:checked~.nav-dropdown {
    display: none;
}

/* Mobile View Design */

.mobile-navbar{
    display: none;
}

.nav-link-mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.nav-link-mobile li{
    width: 100%;
    border-bottom: 1px solid rgba(108,120,132,.3);
}

.nav-cart{
    /* display: none; */
}

.search-mobile{
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-top: 2.5rem;
    width: 100%;
    font-family: SainteColombe, serif;
    color: rgba(108,120,132);
    border-radius: 0.25rem;
    border: 1px solid rgba(206,210,214);
    padding: 0.75rem 1rem;
    margin-bottom: 2.5rem
} 

.search-mobile input{
    margin-left: 1em;
    outline: none;
    border: none;
    font-size: 16px;
}

.search-mobile .icon{
    color: #9DA5AD;
}

.nav-link-mobile button{
    padding-top: 2em;
    padding-bottom: 2em;
}

#nav-check{
    display: none;
}

/* Menu Bar */
.menu-bar {
    /* display: none; */
}




/* Header Content Design */
.header-content {
    padding: 120px;
}
.header-seed {
    margin: auto;
    display: flex;
    max-width: 640px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255);
    text-align: center;
}

.header-seed h2{
    text-align: center;
    display: block;
    font-size: 3.25em;
    line-height: 1.29;
    letter-spacing: -2px;
    margin-bottom: 2.25rem;
    font-weight: 300;
}

.header-seed p{
    font-size: 1.1875em;
    display: block;
    text-align: center;
    margin-top: 2.25rem;
}

.header-links{
    flex-direction: row;
    margin-top: 1.25rem;
}

.header-links a{
    color: rgb(228, 228, 228);
    margin: 0.75em;
    border-bottom-color: rgba(255, 255, 255);
    text-transform: uppercase;
    display: inline-block;
    font-family: akzidenz-grotesk-extended,sans-serif;
    font-size: 11px;
    line-height: 1.6;
    letter-spacing: .1em;
    font-weight: 600;
    border-bottom: 1px solid rgb(187, 187, 187);
    transition: .3s;
}

.header-links a:hover{
    border-bottom: 1px solid white;
}



/* Cart Display */
.sidebar{
    position: fixed;
    max-width: 840px;
    right: -840px;
    width: 100%;
    height: 100%;
    background: white;
    transition: all .5s ease;
    z-index: 1000;
    top: 0;
    border-left: 1px solid #a1a1a1;
}

#cart-check{
    display: none;
}

.cart-display .icon{
    cursor: pointer;
}

#cart-close{
    display: none;
}

#cart-check:checked~.sidebar{
    right: 0px;
}

#cart-close:checked~.sidebar{
    right: -840px;
}

.sidebar header{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 233, 235);
    padding-bottom: 2.25rem;
}


.sidebar header h2{
    font-size: .625rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 800;
    font-family: akzidenz-grotesk-extended,sans-serif;
}

.sidebar header label{
    font-size: .625rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 800;
    cursor: pointer;
    font-family: akzidenz-grotesk-extended,sans-serif;
    transition: .3s;
    color: rgb(0, 0, 0, .4);
}

.sidebar header label:hover{
    color: rgb(0, 0, 0, 1);
}

.sidebar .cart-body{
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
    min-height: 63vh;
}


.cart-footer{
    border-top: 1px solid rgba(231,233,235);
    padding: 3.5rem 5rem 5rem 5rem;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: center;
}

.cart-price {
    display: flex;
    align-items: center;
}

.cart-total-price{
    display: flex;
    align-items: center;
}

.cart-total-price span{
    font-size: 2.125rem;
    letter-spacing: -1px;
    font-weight: 300;
    font-family: SainteColombe,serif;
} 

.cart-price .cart-ship{
    margin-left: 2.5rem;
    max-width: 900px;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 300;
}

.cart-footer button{
    background-color: rgba(133,113,81);
    cursor: pointer;
    padding: .75rem 2.25rem;
    transition: .3s;
    border-radius: 2px;
    border: none;
}

.cart-footer button span{
    font-size: .75rem;
    font-family: akzidenz-grotesk-extended,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: .1em;
    color: white;
}

.cart-footer button:hover{
    background-color: #9A825C;
}




/* Main Section */
.recent-section {
    margin-top: 80px;
}

.recent-items{
    padding-left: 5rem;
    padding-right: 5rem;
}

.recent-head{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.recent-head h2{
    font-size: 3.5rem;
    letter-spacing: -2px;
    font-family: SainteColombe,serif;
    font-weight: 300;
    margin-bottom: 2.25rem;
    text-align: center;
}

.recent-head p{
    font-size: 1.2em;
    font-weight: 100;
}

/* Item Section */
.item-container {

    margin-top: 160px;
}

.item-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1800px;
}

.item-wrapper hr{
    border-bottom: thin solid #fff;
    margin: 0;
    width: 100%;
    border-color: rgba(255,255,255);
    opacity: .5;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* dd container */
.item-side {
    display: flex;
    align-items: center;
}

.item-side p{
    font-size: .625rem;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: .1em;
    font-family: akzidenz-grotesk-extended,sans-serif;
    font-weight: 700;
    color: #485766;
    margin-right: 1.5rem;
    padding-left: 16px;
}

.dropdown {
    position: relative;
    outline: none;
    margin: 10px;
  }
  
  /* button */
  .dropbtn {
    opacity: .6;
    cursor: pointer;
    transition: 0.35s ease-out;
    font-size: .625rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: akzidenz-grotesk-extended,sans-serif;
    font-weight: 700;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  /* dd content */
  .dropdown .dropdown-content {
    position: absolute;
    top: 35px;
    background-color: #f7f7f7;
    min-width: 150%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.35s ease-out;
    border-radius: 0.25rem;
    border-color: rgba(231,233,235, 1);
    
  }

  .dropdown-content a {
    color: rgba(10,30,50, .6);
    font-size: 1rem;
    font-family: SainteColombe,serif;
    padding: 12px 10px;
    display: block;
    text-decoration: none;
    transition: 0.35s ease-out;
  }

  .dropdown-content a:hover {
    color: rgba(10,30,50, .8);
    background-color: #eaeaea;
  }
  
  /* show dd content */
  .dropdown:focus .dropdown-content {
    outline: none;
    visibility: visible;
    opacity: 1;
  }
  .dropbtn:hover, .dropdown:focus .dropbtn {
    opacity: 1;
  }
  
  .dropdown:focus .arrow{
    transform: rotate(-180deg);
    transition: .35s ease-out;
    margin-bottom: 4px;
  }
  /* mask to close menu by clicking on the button */
  .dropdown .db2 {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
    cursor: pointer;
    z-index: 10;
    display: none;
  }
  .dropdown:focus .db2 {
    display: inline-block;
  }
  .dropdown .db2:focus .dropdown-content {
    outline: none;
    visibility: hidden;
    opacity: 0;
  }


  /* Jackets Session */
  .cloth a{
    color: black;
  }
  .clothes{
    min-height: 453.425px;
    display: grid;
    margin-bottom: 7.5em;
    grid-template-columns: repeat(3,1fr);
    row-gap: 5rem;
    margin-top: 2.5rem;
    column-gap: 2.5rem;
    justify-items: center;
  }

  .cloth{
    max-width: 260px;
    text-align: center;
  }

  .cloth p{
    margin-bottom: .5rem;
    color: rgba(108,120,132);
    font-size: .625rem;
    text-transform: uppercase;
    line-height: 1.6;
    letter-spacing: .1em;
    font-weight: 700;
    font-family: akzidenz-grotesk-extended,sans-serif;
  }
  .cloth .image{
    margin-bottom: 1.5rem;
  }


  .cloth:hover img{
    transition: .35s;
    transform: scale(1.03);
  }



  .cloth h3{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 300;
  }

  .productprice{
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }

  .productprice span{
    font-size: 1.5rem;
    font-weight: 300;
  }

  .quick-buy{
    display: flex;
    justify-content: center;
  }

  #quick-buy{
    opacity: 0;
  }

  .cloth:hover #quick-buy{
    opacity: 1;
    transition: .35s;
    
  }
  .quick-buy button{
    display: flex;
    align-items: center;
    margin-top: .5rem;
    border: none;
    color: rgba(133,113,81);
    cursor: pointer;
    font-family: akzidenz-grotesk-extended,sans-serif;
    font-size: .625rem;
    letter-spacing: .1em;
    text-decoration: none;
    transition-duration: .3s;
    text-transform: uppercase;
    font-weight: 400;
    background-color: transparent;
    outline: none;
  }

  .quick-buy .icon{
    color: rgba(133,113,81);
    padding-bottom: 5px;
    padding-right: 3px;
    font-size: 15px;
  }

  .quick-buy #buy{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(133,113,81, .4);
  }

  .quick-buy #buy:hover{
    border-bottom: 1px solid rgba(133,113,81, 1);
  }















/* Footer Section */
.footer{
    background-color: rgba(10,30,50);
    color: rgba(255,255,255);
    margin-top: 120px;
}

.footer-inner{
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1800px;
}

.footer-inner form{
    max-width: 400px;
    padding-top: 7.5rem; 
    padding-bottom: 7.5rem;
    margin: auto;
    width: 100%;
    text-align: center;
}


.footer-inner form label{
    display: block;
    font-size: .625rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: rgba(108,120,132);
}

.footer-inner form h4{
    font-size: 2.1rem;
    padding-bottom: 2rem;
    font-family: SainteColombe,serif;
    font-weight: 300;
    letter-spacing: -1px;
    color: rgba(255,255,255);
}

.footer-inner .form-input{
    position: relative;
}

.footer-inner form input[type="text"]{
    border-color: #9DA5AD;
    background-color: rgba(10,30,50);
    color: white;
    border-radius: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    width: 100%;
    border-width: 1px;
    padding: .75rem 1rem;
    font-family: SainteColombe,serif;
}

.footer-inner form input[type="text"]:hover::placeholder {
    color: transparent;
    transition: .2s;
}

.footer-inner form input[type="text"]:hover{
    border-color: white;
    transition: .2s;
}

.footer-inner form input[type="text"]:hover~.form-input-submit {
    opacity: 1;
    transition: .2s;
}

.footer-inner form input[type="text"]:focus, .footer-inner form input[type="text"]:active{
    border-color: #9a825c;
    outline: none;
}


.footer-inner form .form-input-submit{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0;
    opacity: .2;
}

.form-input-submit button{
    color: white;
    display: flex;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;
    text-transform: uppercase;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    cursor: pointer;
    font-family: akzidenz-grotesk-extended,sans-serif;
    font-size: .625rem;
    letter-spacing: .1em;
}

.footer hr{
    border: 0;
    border-bottom: thin solid #fff;
    margin: 0;
    width: 100%;
    border-color: rgba(255,255,255);
    opacity: .2;
}

.footer-columns{
    margin-top: -2.25rem;
    padding-bottom: 96px;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: left;
    width: 100%;
}

.footer-column-item {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.footer-column-item h6{
    margin-bottom: 1em;
    color: #9DA5AD;
    font-size: .825rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 300;
    font-family: akzidenz-grotesk-extended,sans-serif;
}

.footer-column-list li{
   padding-bottom: 13px;
}


.footer-column-list a{
    color: rgba(255,255,255);
    font-family: SainteColombe,serif;
    font-size: 1rem;
    opacity: .6;
    display: inline-block;
}

.footer-column-item button{
    display: inline-block;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(133,113,81, .4);
    color: rgba(133,113,81);
    background-color: transparent;
    font-family: akzidenz-grotesk-extended,sans-serif;
    transition: .3s;
    letter-spacing: .1em;
}

.footer-column-item button:hover{
    border-bottom: 1px solid rgba(133,113,81);
}

.footer-icons {
    margin-top: 2.25em;
}

.footer-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-icon a{
    color: #9DA5AD;
}

.footer-icon a:hover{
    color: #9a825c;
    transition: .3s;
}















@keyframes drop{
    0%{transform: translateY(-300px);}
    100%{transform: translateY(0px);}
}

@keyframes fade {
    from { opacity: 0;}
    to{opacity: 1;}
}


/* Media Queries design */
@media screen and (min-width:54px){
    .container-wrapper {
        padding-left: 80px;
        padding-right: 80px;
        margin: 0 auto;
        overflow-x: hidden;
            }

    .nav-list-items a{
        font-size: 19px;
        line-height: 1.68;
    }
}

@media screen and (max-width: 850px) {

    .nav-cart{
        display: block;
    }

    .menu-bar{
        display: block;
    }
}

@media screen and (max-width:850px){
    .container-wrapper {
        padding-left: 30px;
        padding-right: 30px;
            }

    .desktop{
        display: none;
    }

    .mobile-navbar{
        display: flex;
    }
    

    /* Mobile Nav*/

    .desktop-wrapper{
        background-color: white;
    }
    
    .nav-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        top: -1000px;
        left: 0; 
        width: 100%;
        /* left: -1000px; */
        background-color: white;
        transition: 0.8s;
        padding-bottom: 300px;
    }
 
    #nav-check:checked~.mobile-navbar nav{
        top: 70px;
    }

    
    /* Items Container */
    .item-wrapper{
        padding-left: 30px;
        padding-right: 30px;
    }

    #best-for{
        display: none;
    }

    .clothes{
        grid-template-columns: 1fr;
    }

    .item-side p{
        display: none;
        text-align: center;
    }

    #quick-buy{
        opacity: 1;
    }

    .footer-columns{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-icon{
        justify-content: center;
    }

    .footer-column-list a{
        opacity: 1;
    }

    .footer-icon a{
        color: white;
    }
}